In [110]:
import pandas as pd

1 Limpiamos los data para trabajar con ellos

In [111]:
df_data_historico = pd.read_csv('fifa_worldcup_matches.csv') #datos historicos de resultados en mundiales
df_fixture = pd.read_csv('fifa_worldcup_fixture.csv') #partidos del mundial 2022
df_data_faltante = pd.read_csv('fifa_worldcup_missing_data.csv')
df_data_historico

           home         score      away  year
0       France            4–1    Mexico  1930
1    Argentina            1–0    France  1930
2        Chile            3–0    Mexico  1930
3        Chile            1–0    France  1930
4    Argentina            6–3    Mexico  1930
..          ...           ...       ...   ...
452     Russia   2–2 (a.e.t.)   Croatia  2018
453     France            1–0   Belgium  2018
454    Croatia   2–1 (a.e.t.)   England  2018
455    Belgium            2–0   England  2018
456     France            4–2   Croatia  2018

[457 rows x 4 columns]

Ahora limpiamos df_fixture

In [112]:
df_fixture['home']=df_fixture['home'].str.strip() #quitamos espacios en blanco
df_fixture['away']=df_fixture['away'].str.strip() #hacemos lo mismo

In [113]:
df_data_faltante.dropna(inplace=True)

In [114]:
df_data_historico = pd.concat([df_data_historico, df_data_faltante], ignore_index=True) #unimos 2 datas para tener un data historico completo
df_data_historico.drop_duplicates(inplace=True)
df_data_historico.sort_values('year', inplace=True)
df_data_historico

           home score            away  year
0       France    4–1          Mexico  1930
17     Uruguay    4–2       Argentina  1930
16     Uruguay    6–1      Yugoslavia  1930
15   Argentina    6–1   United States  1930
14    Paraguay    1–0         Belgium  1930
..          ...   ...             ...   ...
419     Brazil    2–0      Costa Rica  2018
420     Serbia    1–2     Switzerland  2018
421     Serbia    0–2          Brazil  2018
408     France    1–0            Peru  2018
450     Brazil    1–2         Belgium  2018

[901 rows x 4 columns]

In [115]:
index_eliminar = df_data_historico[df_data_historico['home'].str.contains('Sweden') &
                                   df_data_historico['away'].str.contains('Austria')].index

In [116]:
df_data_historico.drop(index=index_eliminar, inplace=True) #con esto eliminamos los resultados que no entrarn con los argumentos que usaremos

In [117]:
df_data_historico['score']= df_data_historico['score'].str.replace('[^\d–]', '',regex=True)

In [118]:
df_data_historico['home']= df_data_historico['home'].str.strip()
df_data_historico['away']= df_data_historico['away'].str.strip()

In [119]:
df_data_historico[['HomeGoals', 'AwayGoals']]= df_data_historico['score'].str.split('–', expand=True)

In [120]:
df_data_historico.drop('score', axis=1, inplace=True)

In [124]:
df_data_historico = df_data_historico.astype({'HomeGoals': int, 'AwayGoals': int})
df_data_historico.dtypes

home         object
away         object
year          int64
HomeGoals     int64
AwayGoals     int64
dtype: object

Todo esto nos genera los archivos data clean donde ahora podremos usar estos datos para nuestro pronostico.